/************************TAG SELECTORS***************************/
body {
  margin: 0;
  text-align: center;
  font-family: "Raleway", serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Cookie", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}
h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
}

h3 {
  font-family: "PT Sans", sans-serif;
  color: #11999e;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

p {
  line-height: 2;
}

a {
  font-family: "PT Sans", sans-serif;
  color: #11999e;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
}

a:hover {
  color: white;
}
/************************CLASS SELECTORS***************************/

.top-container {
  background-color: #cbedd5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  color: #40514e;
  margin: 50px auto 50px auto;
}

.bottom-container {
  background-color: #62b6b7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.html {
  width: 10%;
  float: right;
  margin-left: 30px;
}

.css {
  width: 10%;
  float: right;
  margin-left: 30px;
}

.js {
  width: 10%;
  float: right;
  margin-left: 30px;
}

.cpp {
  width: 10%;
  float: left;
  margin-right: 30px;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.profile {
  margin-bottom: 50px;
}

.made-by {
  color: white;
  font-family: "Raleway", serif;
  font-size: 0.75rem;
}

.contact-me {
  margin: 50px auto 50px auto;
}

.contact-description {
  margin-bottom: 40px;
}

.btn {
  background: #439a97;
  background-image: -webkit-linear-gradient(top, #439a97, #439a97);
  background-image: -moz-linear-gradient(top, #439a97, #439a97);
  background-image: -ms-linear-gradient(top, #439a97, #439a97);
  background-image: -o-linear-gradient(top, #439a97, #439a97);
  background-image: linear-gradient(to bottom, #439a97, #439a97);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #97dece;
  background-image: -webkit-linear-gradient(top, #97dece, #97dece);
  background-image: -moz-linear-gradient(top, #97dece, #97dece);
  background-image: -ms-linear-gradient(top, #97dece, #97dece);
  background-image: -o-linear-gradient(top, #97dece, #97dece);
  background-image: linear-gradient(to bottom, #97dece, #97dece);
  text-decoration: none;
}

.intro {
  width: 30%;
  margin: auto;
}
